* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  background-color: rgb(235, 106, 127);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu li {
  display: inline;
}

.menu a {
  text-decoration: none;
  padding: 15px;
  color: white;
  font-weight: bolder;
  transition: border 0.5s;
}

.menu a:hover {
  border-bottom: 5px solid rgb(235, 220, 84);
}