@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.plr-30 {
  padding: 0 30px;
}

.text-align-center {
  text-align: center;
}

.menu {
  background-color: rgb(235, 106, 127);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu li {
  display: inline;
}

.menu a {
  text-decoration: none;
  padding: 15px;
  color: white;
  font-weight: bolder;
  transition: border 0.5s;
}

.menu a:hover {
  border-bottom: 5px solid rgb(235, 220, 84);
}

.quem-sou img {
  border-radius: 50%;
  box-shadow: 0 0 10px 3px #00000055;
  margin-top: 80px;
  margin-bottom: 30px;
}

.quem-sou h1 {
  font-family: 'Itim', cursive;
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 10px;
}

.secao h2 {
  margin: 50px 0 5px 0;
}

.habilidades ul {
  padding-left: 50px;
}

.redes-sociais a {
  text-decoration: none;
}

.redes-sociais img {
  width: 30px;
}

.rodape {
  padding: 20px 0;
  background-color: pink;
}